# Banco de dados
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&uselibpqcompat=true"

# Auth.js
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Integrações
N8N_API_KEY=""
GOOGLE_MAPS_API_KEY=""
BLOB_READ_WRITE_TOKEN=""
